<div id="footer">
  &#169; <%= Date.today.year %> &nbsp; &nbsp; &nbsp; <a href="https://github.com/AngieGreen" target="_blank"><i class="fa fa-github"></i></a> &nbsp; &nbsp; <i class="fa fa-motorcycle"></i> &nbsp; &nbsp; <i class="fa fa-star"></i>
</div>