// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#main {
  text-align: center;
  top: 30%;
  width: 100%;
  position: absolute;
  line-height: 1em;
  text-shadow: 2px 2px 0 #000;

  #clock {
    font-size: 6em;
    font-family: 'Syncopate', sans-serif;
    color: #fff;
    font-weight: 1100; }

  #greeting {
    font-size: 3em;
    font-family: 'Playball', cursive;
    color: #fff;
    font-weight: 400; }
}
