// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#main {
  text-align: center;
  top: 30%;
  width: 100%;
  position: absolute;
  line-height: 1em;
  color: #424242;

  #clock {
    font-size: 6em;
    font-family: 'Syncopate', sans-serif;
    color: #ffffff;
    font-weight: 1100;
    text-shadow: 3px 3px 0 #000;
  }

  #greeting {
    font-size: 3em;
    font-family: 'Playball', cursive;
    font-weight: 400;
    text-shadow: 1px 1px 0 #000;
  }
}

#quote {
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 5%;
  text-shadow: 1px 1px 0 #ffffff;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.5em;
  color: #424242;
  font-weight: 600;
  &:before {
    content: open-quote;
  }
  &:after {
    content: close-quote;
  }
  .author {
    font-size: 1em;
    color: #676767;
  }
}
